body{
    color:red;
    font-family:"Helventica Neue", Helvetica, Arial;
    font-size:14px

}

.heading-container{
    text-align: center;
    margin-top: 20px;
    color:black;

}

.container{
    background-color:grey;
    padding:50px;
    border-radius: 10px;
    width:20px;
    gap:10px;
    margin:2px;
    justify-content: center;
}

main-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap:unset;
    padding:40px;
    margin:auto;
}

